# これを元に.envを作成してください
# コメントアウトされた環境変数を利用する場合もしく他の変数を加える場合はapp/config.pyで読み込むように修正してください
GEMINI_API_KEY=""
# OPENAI_API_KEY=""
# LLM_MODEL_NAME="ollama/llama3"
# OLLAMA_API_BASE="http://localhost:11434"
# openaiの場合は"openai/gpt-4o-mini"などを利用
LLM_MODEL_NAME="gemini/gemini-2.5-flash"
MONGO_URL="mongodb://root:example@mongodb:27017"
DUCKDB_PATH="/app/data/ocr_few_shots.duckdb"
LOCAL_DATA_SET_BASE_DIR="/app/data"
STORAGE_TYPE="LOCAL" #クラウドに上げる場合はS3等を設定する
# S3を設定する場合の変数例
# AWS_S3_BUCKET_NAME
# AWS_S3_PREFIX
# AWS_REGION
