.env
sample-receipt/
input_img/
.vscode/
# python実行のキャッシュ関連ファイル
.pytest_cache/
app/__pycache__/
app/**/__pycache__/
*.pyc
.devcontainer/
.python-version
data/*.duckdb
data/archive/tmp/
data/receipt_images/
data/tmp/
data/archive/